{
    "extends": "airbnb-base",
    "env": {
        "node": true,
        "es6": true,
        "jasmine": true
    },
    "rules": {
        "indent": ["error", 4],
        "space-in-parens": [ 2, "always" ],
        "template-curly-spacing": [ 2, "always" ],
        "array-bracket-spacing": [ 2, "always" ],
        "object-curly-spacing": [ 2, "always" ],
        "computed-property-spacing": [ 2, "always" ],
        "space-infix-ops": [ 2, {"int32Hint": false} ],
        "no-underscore-dangle": [ "error", { "allow": [ "_id" ] } ]
      }
}
